@font-face {
    font-family: 'ArialRegular';
    src: url('../fonts/ArialRegular/ArialRegular.eot');
    src: url('../fonts/ArialRegular/ArialRegular.eot?#iefix')format('embedded-opentype'),
    url('../fonts/ArialRegular/ArialRegular.woff') format('woff'),
    url('../fonts/ArialRegular/ArialRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'ArialMT';
    src: url('../fonts/ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Sans Unicode';
    src: url('../fonts/Lucida%20Sans%20Unicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Black';
    src: url('../fonts/Arial%20Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.clearfix::after {
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    content: ' ';
    visibility: hidden;
}

.wrapper {
    position: relative;
    width: 911px;
    margin: 0 auto;
    /*padding-left: 2px;*/
    /*background-color: #d88;*/
}

/*HEADER*/

.banner-link {
	position: absolute;
	top: 86px;
	width: 265px;
	height: 120px;
}

.top-header {
    /*margin: 0 auto;*/
    margin-top: 18px;
    line-height: 36px;
    font-size: 0;
}

.top-header > img {
    margin: 4px 3px 0 8px;
}

.phone-numbers {
    display: inline-block;
    font-family: 'ArialMT', Tahoma, sans-serif;
    font-size: 18px;
    color: #5e696d;
    vertical-align: top;
    line-height: 30px;
    letter-spacing: .45px;
    transform: scale(1, .99);
}
/*authentication form*/
.auth {
    display: inline-block;
    width: 495px;
    height: 25px;
    margin: 0 0 0 16px;
    vertical-align: top;
    background-image: -moz-linear-gradient(-90deg, rgb(32, 105, 136) 0%, rgb(17, 65, 101) 59%, rgb(15, 58, 94) 85%, rgb(12, 50, 86) 100%);
    background-image: -webkit-linear-gradient(-90deg, rgb(32, 105, 136) 0%, rgb(17, 65, 101) 59%, rgb(15, 58, 94) 85%, rgb(12, 50, 86) 100%);
    background-image: -ms-linear-gradient(-90deg, rgb(32, 105, 136) 0%, rgb(17, 65, 101) 59%, rgb(15, 58, 94) 85%, rgb(12, 50, 86) 100%);
    border-radius: 3px;
    box-shadow: 0 -1px 0 0 #a6c3cf, 2px 1px 3px 0 #b9b9b9, 0 3px 3px 0 rgba(150, 150, 150, .75), -1px 0 0 0 #d4dce3;
}

.auth > img {
    margin: 5px 4px 0 7px;
}

.login,
.password {
    /*border: 0;*/
    /*padding: 0;*/
    border-top: 1px solid #ebeced;
    border-right: 1px solid #d0d3d4;
    border-bottom: 1px solid #dee0e0;
    border-left: 1px solid #e7e9e9;
    box-shadow: 0 -1px 0 0 #82949c, 1px 0 0 0 #124468, 0 1px 0 0 #6c7e8c, -1px 0 0 0 #7b8c96;
    width: 108px;
    height: 12px;
    margin: 4px 8px 0 0;
    font-family: 'Lucida Sans Unicode';
    font-size: 10.91px;
    padding: 0 0 2px 3px;
    vertical-align: top;
}

.submit,
.register,
.forgot-password {
    overflow: visible;
    display: inline;
    margin-top: 8px;
    padding: 0;
    border: 0;
    line-height: 10px;
    font-family: 'Lucida Sans Unicode';
    font-size: 10.91px;
    color: #fff;
    background: transparent;
    vertical-align: top;
    letter-spacing: -.2px;
    cursor: pointer;
}

.submit {
    border-right: 1px solid #fff;
    padding-right: 5px;
    border-color: #d2d8dd;
}

.register {
    padding-left: 5px;
}

.forgot-password {
    margin: 6px 0 0 21px;
    font-size: 12px;
    color: #bfbfbf;
    line-height: 12px;
    letter-spacing: 0;
    border-bottom: 1px solid #36526e;
    box-shadow: 0 1px 0 0 #7c8794;
    transform: scale(1, .94);
}

.banner {
    margin-left: 1px;
}
/*sitemap navigation*/
.navigation {
    width: 75px;
    height: 19px;
    display: inline-block;
    margin: 1px 0 0 17px;
    border: 1px solid #c1c8cb;
    border-radius: 10px;
    line-height: 19px;
    vertical-align: top;
    box-shadow: 1px 1px 3px 0 #d0d5d6;
}

.navigation a,
img {
    display: inline-block;
    line-height: 16px;
    vertical-align: top;
}

.home {
    margin: 2px 4px 0 8px;
}

.sitemap {
    margin: 4px;
}

.email {
    margin: 4px;
}

.wrapper > img {
    display: block;
    margin: 0 auto;
}

/*site top menu*/

.top-menu {
    width: 909px;
    height: 31px;
    margin: 0 auto;
    margin-top: 6px;
    margin-left: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(13, 22, 66);
    border-radius: 4px;
    background-image: -moz-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(44, 48, 52) 87%, rgb(87, 96, 104) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(44, 48, 52) 87%, rgb(87, 96, 104) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(44, 48, 52) 87%, rgb(87, 96, 104) 100%);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .75);
}

.menu-items {
    width: 505px;
    height: 24px;
    margin: 3px 0 0 125px;
    float: left;
    list-style: none;
    line-height: 24px;
}

.menu-items li {
    height: 24px;
    display: inline-block;
    padding: 2px 0;
    line-height: 24px;
    font-family: 'Lucida Sans Unicode', Lucida;
    font-size: 13.64px;
    text-transform: uppercase;
}

.menu-items li:nth-child(1) a {
    padding: 0 18px 0 21px;
}

.menu-items li:last-child a {
    padding: 0 10px;
}

.menu-items li a {
    display: inline-block;
    padding: 0 13px;
    /*width: inherit;*/
    text-decoration: none;
    color: #fff;
}

.menu-items li:hover {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 25px;
    background-image: -moz-linear-gradient(-90deg, rgb(32, 105, 136) 0%, rgb(17, 65, 101) 59%, rgb(15, 58, 94) 85%, rgb(12, 50, 86) 100%);
    background-image: -webkit-linear-gradient(-90deg, rgb(32, 105, 136) 0%, rgb(17, 65, 101) 59%, rgb(15, 58, 94) 85%, rgb(12, 50, 86) 100%);
    background-image: -ms-linear-gradient(-90deg, rgb(32, 105, 136) 0%, rgb(17, 65, 101) 59%, rgb(15, 58, 94) 85%, rgb(12, 50, 86) 100%);
    border-top: 1px solid #25617b;
    border-bottom: 1px solid #09233b;
    border-radius: 13px;
}

.sum,
.top-menu span,
.item-count,
.top-menu img {
    display: inline-block;
    float: right;
    line-height: 32px;
}

.sum,
.item-count {
    margin: 0 12px 0 11px;
    color: #0d5a8f;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: .4px;
}

.item-count {
    margin: 0 11px 0 2px;
}

.top-menu span {
    margin: 0 0 0 3px;
    font-family: Arial;
    font-size: 11px;
    color: #8a9296;
    line-height: 30px;
    letter-spacing: .4px;
}

.top-menu > img {
    margin: 7px 4px;
}

/*3 forms under top menu left center right*/


.search-left,
.search-center,
.search-right { /*задаем ширину и высоту блоков Форм. Выстраиваем в ряд. Определяем стиль рамки блока*/
    width: 413px;
    height: 132px;
    margin: 13px 5px;
    float: left;
    border: 1px solid #b8b8b9;
    border-radius: 16px;
    box-shadow: 0 -1px 0 0 #e2e2e2, 1px 0 0 0 #e2e2e2 inset, 5px 5px 5px -2px #adadae;
}
.search-center { /*переназначаем ширину и высоту блоков Форм*/
    width: 191px;
    height: 134px;
    margin: 12px 4px 12px 9px;
}

.search-right {
    width: 267px;
    margin-top: 12px;
}

    /*Стилизация внутри Форм*/

.search-header {
    height: 15px;
    display: flex;
    justify-content: space-between;
    color: #154467;
    font-family: Arial;
    font-weight: 900;
    font-size: 10px;
}

.search-header span {
    letter-spacing: .3px;
}

.discs {
    margin: 4px 20px;
    font-family: "Arial Black";
}

.search-title { /*перезаписываем стили для заголовков внутри форм*/
    display: inline-block;
    margin: 1px 9px 0 0;
    font-size: 12px;
    transform: scale(1, 1.1);
}

.search-header_search-right {
    display: inline-block;
    width: 160px;
}

.search-title_search-right {
    margin: 0;
    transform: scaleX(1.1181);
}

.search-center_search-center {
    margin: 3px 0 0 8px;
    transform: scale(.97, 1.1);
}

.search-center_search-right {
    margin: 3px 0 0 8px;
    transform: scale(.97, 1.1);
}

.tires {
    margin: 2px 19px;
    font-family: "Arial Black"
}

.search-body {
    height: 90px;
    font-family: 'ArialMT', Arial;
    font-size: 10px;
}

.filter-title { /*выстраиваем блок с названиями фильтров слева*/
    width: 72px;
    float: left;
    margin: 5px 0 0 18px;
}

.search1-title2 {
    margin: 3px 0 0 30px;
}

.search2-title1 {
    margin: 9px 0 0 14px;
}

.pos-r { /*выставляем позиции фильтра радиуса и фильтра сезона*/
    margin: 6px 0 0 31px;
}

.pos-sezon {
    margin-top: 3px;
}

.search-body .search1-criteria2 {
    margin: 3px 0 0 3px;
}

.filter-title p { /*определяем позицию и стиль элементов названий*/
    display: inline-block;
    margin-top: 7px;
    line-height: 8px;
    font-weight: 200;
}

.filter-title .gray-label { /*определяем стиль серых названий фильтров*/
    font-size: 9px;
    color: #89959a;
}

.filter-title .scale-label { /*определяем стиль увеличенных названий фильтров*/
    display: inline-block;
    transform: scale(1.07, .95);
}

.label4 { /*выставляем позицию фильтра Комплектация*/
    margin: 3px 0 0 1px;
}

.search-filter { /*выставить блок с фильтрами селектами, селекты выстроены ровно один под другим не соответствуют строчкам с названиями*/
    margin: 5px 0 0 3px;
    width: 100px;
    float: left;
}

.search-filter_center {
    width: 119px;
    height: 86px;
    margin: 7px 0 0 7px;
}

.search-filter_right { /*Выставляем фильтры в правом блоке Форм*/
    width: 65px;
    margin: 20px 0 0 2px;
}

.combobox {
    margin-bottom: 4px;
    -webkit-appearance: button;
    width: 102px;
    height: 18px;
    background-image: url('../img/select/selectproavto102x18.png');
    border: 0;
    box-shadow: 0;
}

.styled-select { /*стилизация под блоков селектов в форме по центру*/
    width: 80px;
    height: 17px;
    display: inline-block;
    overflow: hidden;
    background: url('../img/select/selectdco58x17.png') no-repeat right center; /*тут выбрать и применить значение длинаХ17 поля, которое позволит выполнить стилизацию для селектов в центре и справа*/
}

.styled-select select {
    width: 96px;
    height: 17px;
    padding: 0;
    background: transparent;
    border: 0;
    border-top: 1px solid #949494;
    border-left: 1px solid #d5d5d5;
    box-shadow: 0 0 0 1px #b0b0b0 inset, 0 1px 0 1px #efefef inset, 1px 0 0 0 #868686 inset, 2px 0 0 0 #dadada inset;
    font-size: 11px;
}

/*Стилизация чекбоксов поля Инпут*/

.styled-checkbox {
    display: inline-block;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.styled-checkbox__original { /*Оригинальный убираем - none. Замещаем блоком label с крестиком в рамочке, появляется при нажатии :checked*/
    display: none;
}

.styled-checkbox__original:checked + .styled-checkbox__modified {
    color: #000;
}

.styled-checkbox__modified {
    display: inline-block;
    width: 7px;
    height: 8px;
    padding-left: 2px;
    line-height: 6px;
    border-top: 1px solid #707070;
    border-right: 1px solid #f8f8f8;
    border-bottom: 1px solid #f4f4f4;
    border-left: 1px solid #afafaf;
    box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, .30);
    font-size: 9px;
    font-weight: bold;
    color: #fff;
}

.styled-checkbox__label {
    display: inline-block;
    height: 10px;
    vertical-align: top;
    margin: 1px 0;
    line-height: 10px;
    font-family: 'Lucida Sans Unicode';
    font-size: 12px;
    transform: scale(1, .9);
}

.styled-checkbox_leto {
    display: block;
    margin-top: 5px;
}

.styled-checkbox_zima {
    display: block;
    margin: 2px 0;
}

.small { /*перезаписать свойства селекта в первой форме короче остальных*/
    width: 58px;
    background-image: url('../img/select/selectproavto58x18.png');
    border: 0;
}

/*Перезапись для отдельных селектов. Стилизация каждого селекта разной длины по ширине. Причем фон используется один, выравнивается по правому краю-где стрелка селекта*/
.styled-select_size-52px {
    width: 52px;
}

.styled-select_size-52px select { /*перезаписали снова для селектов через слеш сделать длиннее выпадающие опционы*/
    width: 68px;
}
.styled-select_size-45px {/*перезаписали и подвинули селект 45см*/
    width: 45px;
    margin: 1px 40px 0 1px;
}
.styled-select_size-45px select {
    width: 61px;
}

.styled-select_size-58px {
    width: 58px;
}

.styled-select_size-58px select {
    width: 74px;
}

.styled-select_size-51px {
    width: 51px;
    margin-top: 12px;
}

.styled-select_size-51px select {
    width: 67px;
}

.styled-select_size-59px {
    width: 59px;
 margin-top: 13px;
}

.styled-select_size-59px select {
    width: 75px;
}

.styled-select_right-dco {
    width: 58px;
    margin-top: 4px;
}

.styled-select_right-dco select {
    width: 74px;
}

.scale-label_et {
    margin-top: 3px;
}

.slash { /*стилизируем слеш между селектами чтоб не выбивался*/
    display: inline-block;
    height: 17px;
    margin: 3px 3px 3px 2px;
    line-height: 17px;
    font-size: 14px;
    vertical-align: top;
}
/*стилизируем названия селектов в форме в центре и справа. Все элементы выстроились правильно*/
.filter-title_pos-center { 
    margin: 9px 0 0 14px;
    width: 37px;
}

.filter-title_pos-right {
    width: 95px;
    margin: 3px 0 0 9px; /*19*/
    font-family: 'Lucida Sans Unicode';
    font-weight: bold;
}

.filter-title_pos-right .scale-label { /*перезапись стиля для подписи селекта в правой форме*/
    word-spacing: 3px;
    transform: scale(1.1, 1);
}

.filter-title_pos-right p { /*Сдвинуть абзацы с названиями в правой форме*/
    margin-left: 10px;
}

.filter-title_pos-right .gray-label {
    display: inline-block;
    margin-left: 2px;
    line-height: 9px;
    transform: scale(1.1, 1);
}
/*Стилизация правого блока в парвой Форме. Названий селектов и селектов*/
.filter-title_pos-right2 {
    width: 80px;
    height: 106px;
    margin: 3px 0 0 5px;
    padding: 0 0 0 10px;
    border-left: 1px solid #bdc6ca;
    font-family: 'Lucida Sans Unicode';
    font-weight: bold;
}

.filter-title_pos-right2 p {
    margin-top: 3px;
}

.filter-title_pos-right2 .scale-label {
    word-spacing: 3px;
    font-size: 9px;
}

.filter-title_pos-right2 .gray-label {
    display: inline-block;
    margin-left: 2px;
    line-height: 8px;
    font-size: 8px;
    color: #77858b;
    transform: scale(1.1, 1);
}

.filter-title .filter-title__diametr {
    margin-top: 4px;
    line-height: 10px;
}
/*<input ... type="submit">кнопка  - Поиск*/
.search1-submit {
    display: inline-block;
    float: right;
    margin: 0 20px 0 0;
    padding: 0;
    border: 0;
    border-bottom: 2px solid #8aa1b3;
    background: none;
    font-family: Arial;
    font-size: 14px;
    font-style: italic;
    color: #154467;
}
/*CATALOUGE*/
/*создаем 3 колонки одинаковой высоты - метод для оборачивания контентов Каталог, Шины и Бренды*/
.catalogue,
.tires-content,
.brands {
    position: relative;
    float: left;
    left: -716px;
}
/*фоны подложек*/
.bg-catalogue,
.bg-tires,
.bg-brands {
    position: relative;
    float: left;
    width: 100%;
}

.bg-catalogue {
    overflow: hidden;
}

.bg-tires {
    left: 190px;
}

.bg-brands {
    left: 526px;
    background-color: #fff;
}
/*описание контентов 1 колонки*/
.catalogue {
    width: 182px;
    margin-right: 10px;
    font-family: 'Lucida Sans Unicode', Lucida;
    font-size: 12.73px;
    color: #114165;
}

.catalogue-title,
.tires-title {
    height: 24px;
    margin-top: 6px;
    padding: 1px 0 0 2px;
    line-height: 24px;
    border: 1px solid #8b979c;
    border-radius: 25px;
    text-transform: uppercase;
}

.catalogue-title {
    margin-bottom: 13px;
    box-shadow: 0 3px 3px 0 rgba(150, 150, 150, .75);
}

.tires-title {
    width: 146px;
    height: 25px;
    margin: 0 0 0 2px;
    border-radius: 12px;
    line-height: 27px;
    font-size: 14px;
}

.catalogue-title span {
    margin-left: 3px;
}

.tires-title img {
    margin-left: 2px;
}

.tires-title span {
    margin-left: 1px;
}

.tires-names {
    list-style-image: url('../img/bullet.png');
    margin: -5px 0 0 52px;
}

.tires-names li {
    margin-top: 6px;
    line-height: 20px;
}

.catalogue a {
    display: inline-block;
    vertical-align: bottom;
    margin-left: -4px;
    line-height: 15px;
    text-decoration: none;
    color: inherit;
}

.catalogue a:hover {
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    font-style: italic;
    border-bottom: 2px solid #486580;
}

/*Плитка товаров, главное окно по три в ряд*/
.tires-content {
    width: 504px;
    display: flex;
    margin-top: 2px;
    padding: 17px 14px 5px 8px;
    justify-content: space-around;
    flex-flow: row wrap;
    background: #e5e7e8; /* Old browsers */
    background: -moz-linear-gradient(top, #e5e7e8 0%, #93a7b0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e5e7e8 0%, #93a7b0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e5e7e8 0%, #93a7b0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 3px;
}

.tires-content a {
    width: 140px;
    display: inline-block;
    margin-bottom: 26px;
    text-decoration: none;
    text-align: center;
    font-size: 0;
}

.tires-content h1 {
    display: block;
    font-family: 'Lucida Sans Unicode', Lucida;
    font-size: 14.59px;
    font-weight: bold;
    color: #206988;
    transform: scale(1.05, 1.05);
}

.tires-content h2 {
    display: block;
    margin-left: 3px;
    font-family: 'Lucida Sans Unicode', Lucida;
    font-size: 12.27px;
    color: #1f2528;
    transform: scale(1.04, 1.04);
}

.tire-price {
    margin-top: 4px;
    margin-left: 15px;
    margin-right: 5px;
    font-family: 'ArialMT';
    font-size: 16px;
    font-weight: 900;
    font-style: italic;
    color: #114165;
    transform: scale(1.05, 1.05);
}

.tires-content span {
    /*display: block;*/
    
}

.grn {
    font-size: 12px;
}

.pic {
    display: inline-block;
    width: 138px;
    height: 128px;
    border-radius: 8px;
    border-top: 1px solid #b0b9bc;
    border-right: 1px solid #ced4d6;
    border-bottom: 1px solid #a7b1b4;
    border-left: 1px solid #bdc6c8;
    box-shadow: 0 1px 0 0 #b0b9bc inset, -1px 0 0 0 #bfc6c8 inset, 
                0 -1px 0 0 #f9fafa inset, 1px 0 0 0 #cfd4d6 inset;
    background-color: #fff;
    vertical-align: middle;
}

.tires-content img {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
    vertical-align: middle;
}

/*подгонка, позиционирование отдельных элементов внутри блока*/
.goodyear h1 {
    margin-right: 2px;
}

.goodyear h2 {
    transform: scale(1.04, 1.04);
}

.goodyear img {
    margin-top: 6px;
}

.tires-content .tire_3rd-row {
    margin-top: 1px;
    margin-bottom: 25px;
}

.nokian h1 {
    margin-left: 2px;
}

.nokian img {
    margin-left: 33px;
}

.hankook h1 {
    margin-left: 3px;
}

.hankook h2 {
    margin-right: 4px;
}

.hankook img {
    margin-left: 28px;
}

/*стили третьей колонки Бренды*/
.brands {
    width: 183px;
    margin-left: 9px;
    font-family: 'Lucida Sans Unicode', Lucida;
    font-size: 12.73px;
    color: #114165;
}

.brand-title,
.brand-tires-title,
.brand-discs-title {
    height: 24px;
    margin-top: 4px;
    padding: 1px 0 0 2px;
    line-height: 24px;
    border: 1px solid #8b979c;
    border-radius: 25px;
    text-transform: uppercase;
}

.brand-title {
    margin-bottom: 14px;
    box-shadow: 0 3px 3px 0 rgba(150, 150, 150, 0.75); /* добавили тень вокруг рамки в заголовке*/
}

.brand-title img {
    margin: -1px 0 0 2px;
}

.brand-title span {
    display: inline-block; /*строчно-блочный, чтоб двигать  внтури блока*/
    margin-left: 3px;
    font-size: 14px;
}

.brand-tires-title,
.brand-discs-title {
    width: 132px;
    height: 25px;
    margin: 4px 0 0 15px;
    border-radius: 11px;
    line-height: 27px;
    font-size: 14px;
}
/*выравнивать, подгонять по макету, перезаписывать некоторые стили элементов*/
.brand-discs-title {
    width: 133px;
}

.brand-tires-title img {
    margin-left: 2px;
}

.brand-discs-title img {
    margin-left: 0;
    transform: scale(.9, 1);
}

.brand-tires-title span {
    display: inline-block;
    margin-left: 3px;
}

.brand-discs-title span {
    display: inline-block;
    margin-left: 5px;
}

.brands span {
    margin-left: 3px;
}

.input-checkbox { /*оригинальные чекбокс делаем невидимыми*/
    display: none;
}

.brands > div { /*стилизируем дивы с чекбоксами, выравнивание, отступы друг от друга*/
    margin: 7px 0 11px 26px;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.checkbox-style { /*создаем фальшивые чекбоксы в заданном стиле*/
    display: inline-block;
    width: 6px;
    height: 7px;
    border-top: 1px solid #1c4360;
    border-right: 1px solid #345b79;
    border-bottom: 1px solid #849bab;
    border-left: 1px solid #374e5f;
    background-color: #fff;
    box-shadow: 0 -2px 0 -1px #cfd9e0, 2px 0 0 -1px #d5dde4, 0 2px 0 -1px #809aad, -2px 0 0 -1px #819aad,
                1px 2px 1px -1px #838383 inset, 2px 1px 1px -1px #a2a2a2 inset;
    font-size: 9px;
    color: #fff;
    font-weight: bold;
    padding: 0 0 0 1px;
    line-height: 7px;
}

.brand-discs-title {
    margin: 15px 0 9px 14px;
}

.checkbox-label { /*выровнять лейбл подпись к инпуту относительно фальшивого чекбокса*/
    display: inline-block;
    padding: 2px 0 0 10px;
    vertical-align: top;
}

.input-checkbox:checked + .checkbox-style { /*цвет появляется у "х"*/
    color: #114165;
}

.brand-submit {
    /*display: block;*/
    width: 82px;
    height: 27px;
    margin: 10px 0 0 24px;
    border: 1px solid rgb(167, 171, 174);
    border-radius: 11px;
    background-image: -moz-linear-gradient(-90deg, rgb(32, 105, 136) 0%, rgb(17, 65, 101) 59%, rgb(15, 58, 94) 85%, rgb(12, 50, 86) 100%);
    background-image: -webkit-linear-gradient(-90deg, rgb(32, 105, 136) 0%, rgb(17, 65, 101) 59%, rgb(15, 58, 94) 85%, rgb(12, 50, 86) 100%);
    background-image: -ms-linear-gradient(-90deg, rgb(32, 105, 136) 0%, rgb(17, 65, 101) 59%, rgb(15, 58, 94) 85%, rgb(12, 50, 86) 100%);
    box-shadow: 3px 5px 4px -3px #bec0c1;
    color: #e5e9ea;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: .5px;
}

/*Панель с брендами*/

.tire-brands {
    text-align: center;
}

.tire-brands a {
    display: inline-block;
    vertical-align: top;
}

.toyo {
    margin: 42px 4px 0 7px;
}

.bridgestone {
    margin: 42px 4px 0;
}

.continental {
    margin: 42px 7px 0 5px;
}

.cooper {
    margin: 41px 4px 0;
}

.avon {
    margin: 43px 4px 0;
}

.tirefactory {
    margin: 38px 5px 0;
}

.pirelli {
    margin: 43px 4px 0;
}

.dunlop {
    margin: 43px 7px 0;
}

/*FOOTER*/

footer {
    margin: 0 auto;
    width: 910px;
    height: 99px;
    margin-top: 25px;
    background-color: #213a4d;
    text-align: center;
}

.bottom-menu {
    padding-top: 9px;
    text-align: center;
}

.bottom-menu li {
    display: inline-block;
    border-right: 1px solid #7a878f;
    box-shadow: 1px 0 0 0 #8d989f;
    font-size: 0;
}
/*выставить подогнать каждый пункт меню li:nth-child(N)*/
.bottom-menu li:nth-child(1) {
    padding: 0 11px 0 6px;
}

.bottom-menu li:nth-child(2) {
    padding: 0 11px 0 9px;
}

.bottom-menu li:nth-child(3) {
    padding: 0 11px 0 9px;
}

.bottom-menu li:last-child {
    padding-left: 13px;
    border-right: 0;
    box-shadow: none;
}

.bottom-menu a {
    /*margin: 0 10px;*/
    line-height: 11px;
    text-decoration: none;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: .3px;
    color: #bec6c9;
}

.bottom-menu a:hover {
    color: #52abcb;
}

.copyright {
    display: inline-block;
    margin-top: 15px;
    font-family: Arial;
    font-size: 10px;
    color: #754542;
    font-weight: bold;
    transform: scale(1, .9);
}

.copyright span {
    display: inline-block;
    font-size: 12px;
    line-height: 8px;
}


