*{
	margin: 0;
	padding: 0;
}
.wrapper {
	margin: 0 auto;
    background: url(../img/background_img.png) #085699;
    background-size: cover;
    width: 100%;
    height: 1064px;
}

/* Сгенерирована директива для внешнего шрифта с открытой лицензией*/
@font-face {
    font-family: "abyssinica_silregular";
    src: url('../fonts/abyssinicasil-r-webfont.woff2') format('woff2'),
         url('../fonts/abyssinicasil-r-webfont.woff') format('woff');
}

.menu {
	margin-bottom: 200px;
	background: url(../img/background_menu.png) repeat;
}

.menu_item {
	margin: 0;
	height: 39px;
	padding-right: 20px;
	text-align: right;
}

.menu_item > li {
	display: inline-block;
	list-style: none;
	padding: 0 13px;
	font-family: "abyssinica_silregular", Tahoma, Verdana, sans-serif;
	font-size: 14px;
	color: #fff;
}

.menu_item .Minhas {
	position: relative;
	width: 150px;
	font-weight: bold;
	color: #fff;
}

.flag {
	position: absolute; /* Флаг все равно выскакивает из блока Minhas видно при наведении*/
	top: 7px;
    left: -10px;
}

.menu_item a {
	display: block;
	text-align: center;
	text-decoration: none;
	line-height: 39px;
	font-family: "abyssinica_silregular", Tahoma, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #53a3db;
	
}
li:nth-child(6) {
	padding-left: 20px;
	border-left: 1px solid #56a2dc;
}

.menu_item a:hover {
	padding: 0 13px;
    background: #4eabda;
    font-weight: bold;
    color: #fff;
}

.menu_item .entrar:hover {
	background: background: rgba(85,178,221,1);
	background: -moz-linear-gradient(top, rgba(85,178,221,1) 0%, rgba(50,127,200,1) 50%, rgba(46,120,194,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(85,178,221,1)), color-stop(50%, rgba(50,127,200,1)), color-stop(100%, rgba(46,120,194,1)));
	background: -webkit-linear-gradient(top, rgba(85,178,221,1) 0%, rgba(50,127,200,1) 50%, rgba(46,120,194,1) 100%);
	background: -o-linear-gradient(top, rgba(85,178,221,1) 0%, rgba(50,127,200,1) 50%, rgba(46,120,194,1) 100%);
	background: -ms-linear-gradient(top, rgba(85,178,221,1) 0%, rgba(50,127,200,1) 50%, rgba(46,120,194,1) 100%);
	background: linear-gradient(to bottom, rgba(85,178,221,1) 0%, rgba(50,127,200,1) 50%, rgba(46,120,194,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55b2dd', endColorstr='#2e78c2', GradientType=0 );
	border: 1px solid #51a0da;
	text-decoration: underline;
	font-weight: bold;
}

.menu_item span a .entrar:hover {
	text-decoration: none; /* Не получается перебить свойство подчеркивания у текста перед ссылкой*/
}
/*Content*/

div .transbox {
	width: 558px;
	height: 610px;
	margin: 0 auto;
	background-color: #3e3c3c;
	opacity: 0.6;
	filter: alpha(opacity = 60); /*for IE-8*/
}

.Cadastre_header {
	text-align: center;
    line-height: 40px;
    border: 1px solid #3e3c3c;

}

form {
	width: 558px;
	margin: 0 auto;
	text-align: center;
}
input {
	width: 276px;
	margin: 0 auto;
}